os:
  - osx
language: generic
sudo: required
dist: trusty
osx_image: xcode9
install:
  - wget https://swift.org/builds/swift-4.2-branch/xcode/swift-4.2-DEVELOPMENT-SNAPSHOT-2018-05-30-a/swift-4.2-DEVELOPMENT-SNAPSHOT-2018-05-30-a-osx.pkg
  - sudo installer -pkg swift-4.2-DEVELOPMENT-SNAPSHOT-2018-05-30-a-osx.pkg -target /
  - export PATH="/Library/Developer/Toolchains/swift-4.2-DEVELOPMENT-SNAPSHOT-2018-05-30-a.xctoolchain/usr/bin:$PATH"
script:
  - swift build
  - swift test
after_success: 
  - sudo gem install jazzy
  - git clone https://github.com/dn-m/Documentarian && cd Documentarian
  - swift build -c release -Xswiftc -static-stdlib
  - cd ../
  - git clone https://github.com/jpsim/SourceKitten
  - cd SourceKitten
  - swift build
  - cd ../
  - SourceKitten/.build/debug/sourcekitten doc --spm-module DataStructures > datastructures.json
  - jazzy -s datastructures.json
  # - Documentarian/.build/Release/Documentarian DataStructures
